<header class="site-header">

  <nav class="navbar navbar-default">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#conemifyoucan_nav">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Con Em If You Can</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="conemifyoucan_nav">
        <ul class="nav navbar-nav ">
          
          {% for link in site.navigation %}
          
              {% assign current = nil %}
              {% if page.url contains link.url %}
                  {% assign current = 'current' %}
              {% endif %}
              <li class="element {% if forloop.first %}first{% endif %} {{ current }} {% if forloop.last %}last about_ribbon text-center{% endif %}{% if forloop.index == 3 %}quiz{% endif %}">
                  <a href="{{ link.url  | prepend: site.baseurl }}">{{ link.title }}</a>
            {% endfor %}
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>

</header>

