

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $small-font-size;
    @media screen and (min-width: $tab){font-size:$base-font-size}
    @media screen and (min-width: $desk){font-size:$base-font-size}
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}


/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}
h2 {
    font-family: "yanone_kaffeesatzbold";
    letter-spacing: .05em;
    font-size: 1.3em;
    text-transform: uppercase;
    margin-bottom: 0px;
    @media screen and (min-width: $tab){
       margin-bottom: $spacing-unit/2; 
       font-size: 1.4em;
    }
    @media screen and (min-width: $desk){
        font-size: 1.6em;
    }
}
p{
    font-size: .85em;
}

/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        // color: darken($brand-color, 15%);
    }

    &:hover {
        color: $brand-color;
    }
}
/*helper class*/
.relative {position:relative;}
.padding80{
    padding-left: 15px;
    padding-right: 15px;
    @media screen and (min-width: $tab){
        padding-left: 20px;
        padding-right: 20px;
    }
    @media screen and (min-width: $desk){
        padding-left: 80px;
        padding-right: 80px;
    }
}
.margin_t30{margin-top:$spacing-unit !important;}
.margin_b15{margin-bottom:$spacing-unit/2 !important;}

.main-content{
    margin-top: -20px;  
}
.container{
    max-width: 300px;
    @media screen and (min-width: $tab){
        max-width: 598px;
    }
    @media screen and (min-width: $desk){
        max-width: 980px;
    }
}
section{
    padding:$spacing-unit 0px;
    @media screen and (min-width: $desk){
        padding:$spacing-unit 0px $spacing-unit*2;
    }
}
.yellow{
    background: url(../images/yellow.png) #fbfeca 0px 0px repeat;

}
.blue{
    background: url(../images/blue.png) #fbfeca 0px 0px repeat;
}
/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.orange_border{
    color: #f2f3b7;
    border: solid 4px #cd820b;
    background-color: #ec972a;
    font-family: 'latobold';
    font-size: .9em;
    padding: 8px 20px 5px;
    text-transform: uppercase;
    display: block;
    

    @media screen and (min-width: $tab){
        display: inline;
       
        margin-top: 17px;
    }
}
.orange_border.num{
    width: 35px;
    height: 35px;
    border-radius: 100%;
    padding: 3px 0px 0px 3px;
    text-align: center;
    margin: 0px;
    line-height: 1.2em;
    display: block;
    float: left;
    @media screen and (max-width:$tab){
        position: absolute;
        top: -35px;
        left: 105px;
    }
}



footer{
    background-color: #76b5b3;
    font-size: .7em;
    color:white;
    padding-bottom: $spacing-unit;
    .copywrite{
        @media screen and (min-width:$desk){
            margin-top:-25px;
        }
    }
    .privacy.contact{
        text-transform: uppercase;
        a{padding:0 5px; }
        @media screen and (min-width:$tab){
            float:right;
        }
        @media screen and (min-width:$desk){
            margin-top: -($spacing-unit*2);
        }
    }
    .footer_logo{
        @media screen and (min-width:$desk){
        float: none;
        margin: 0px auto 0;
        top: 30px;
        }
    }
}
footer a{color:white;}



h2.ribbon_text{
    color: #807a40;
    position: absolute;
    width: 97.25%;
    text-transform: uppercase;
    top: 27px;
}
#ciyc_social{
    width: 120px;
    display: block;
    margin: 7px auto 0px;

    
    span{
        overflow: hidden;
        margin-right:$spacing-unit/2;
        border-radius:100%;
        width: $spacing-unit;
        height: $spacing-unit;
        display: block;
        float: left;
        text-align: center;
    }
    span.last{
        margin-right: 0px;
    }
}
.fa{
    color:#76b5b3;
   
}
